


header{ 

  height: 60px;
  left: 0;
  right: 0; 
  width: 800px;
  background-color: white;
  border: lightblue 1px solid;
  box-shadow: #000 0px 0px 0px 0px;
  margin-top: 80px;
  text-align: center;

 
}
h1 {
  color: navy;
  opacity: 0.75;
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
  padding: 3px;
  margin: 10px;
  margin-left: 5%;
  text-shadow: 0px 5px 7px rgba(0,0,0,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.container {
  background-color: #ECECEC;
  margin: 0 auto;
}
h5 {
  font-size: 10px; 
  font-family: American Typewriter;
  opacity: 0.7;
}

.image {
  background-image: url("images/clouds.jpg");
  background-size: cover;
  background-repeat: no repeat;
  max-width: 800px;
  max-height: auto;
  opacity: 0.75; 
  box-shadow: inset 0px 0px 10px 10px  lightblue;
  
}
.container-fluid {
  position: relative;
  top: 50px;
  height: 250px;
  width: 600px;
  right: 50%;
  left: 50%;
  margin-left:-300px;
  opacity: .90;
  background-color: #ECECEC;
  border: #fff 2px solid;
  border-radius: 10px;
  box-shadow: 0px 3px 15px #fff; 
}
@media(max-width: 650px){
	
	header{width:100%;
	margin-top:0%;	
	margin-left:0px;
	position:fixed;
	z-index: 2;
	
	}
	
	
  h1{
    font-size: 20px;
	width: 100%;
	margin-left:0%;
	
	
  }
  .container-fluid{
    width: 100%;
    padding: 10px 10px; 
	margin-left: -50%;
    height: 425px;
	overflow:hidden;
  }
  
 
.fa2 {margin-left: 0%;

  }
  

  
}


h2 {
  color: navy;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}
/*h3 {
  color: white;
  font-size: 18px;
  font-family: Monospace;
}*/
i {
  position: relative;
  margin-left: 63%;
  margin-top: -52px;
  margin-bottom: 20px;
  display: inline-block;
}
.fa {
  color: #10BDC8;
  text-shadow: 0px 3px 5px #000;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 
}
.fa:hover {
  color: white; 
}
h6 {
  position: absolute;
  top: 6px;
  right: 8%;
  font-size: 20px;
  font-family: Monospace;
  color: #334EB2;
  border: #A1A1A1 solid 2px;
  padding: 2px 6px;
  
}
h7 {
  font-family: Monospace;
  font-size: 10px;
  position: absolute;
  top: 37px;
  right: 17%;
  color: white;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}
/*h8 {
  position: absolute;
  top: -5px;
  left: 15%;
  font-size: 30px;
  font-family: Chalkduster;
  color: #334EB2;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}*/
button {  
  font-size: 20px;
  font-family: Monospace;
  padding: 10px 25px;
  margin-top: 60px;
  margin-left: 40%;
  border-radius: 10px; 
  background-color: navy;
  border: white 1px solid;
  display: inline-block;
}
.fa2 {
  color: lightblue;
  text-shadow: 0px 3px 5px #000;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  
}
.fa2:hover, .fa2:focus {
  color: white; 
  box-shadow: #fff 0px 3px 5px;
}

